<div class="dashlist">
  <div class="dashlist-item">
    <a class="dashlist-link" href="dashboard/script/measures?var-device=aries&var-memory=2048&var-branch=master&var-test=cold-launch">
      <span class="dashlist-title">Measures: Cold Launch</span>
      <span class="dashlist-icon"><i class="fa fa-line-chart"></i></span>
    </a>
  </div>

  <div class="dashlist-item">
    <a class="dashlist-link" href="dashboard/script/app-memory?var-device=aries&var-memory=2048&var-branch=master&var-test=cold-launch">
      <span class="dashlist-title">Memory: Cold Launch</span>
      <span class="dashlist-icon"><i class="fa fa-hdd-o"></i></span>
    </a>
  </div>

  <div class="dashlist-item">
    <a class="dashlist-link" href="dashboard/script/measures?var-device=aries&var-memory=2048&var-branch=master&var-test=reboot">
      <span class="dashlist-title">Measures: Reboot</span>
      <span class="dashlist-icon"><i class="fa fa-line-chart"></i></span>
    </a>
  </div>

  <div class="dashlist-item">
    <a class="dashlist-link" href="dashboard/script/app-memory?var-device=aries&var-memory=2048&var-branch=master&var-test=reboot">
      <span class="dashlist-title">Memory: Reboot</span>
      <span class="dashlist-icon"><i class="fa fa-hdd-o"></i></span>
    </a>
  </div>
</div>