<div class="dashlist">
  <div class="dashlist-item">
    <a class="dashlist-link dashlist-link-dash-db" href="dashboard/script/app-measurements?var-device=aries&var-memory=2048&var-branch=master&var-test=cold-launch">
      <span class="dashlist-title">Performance Measurements</span>
      <span class="dashlist-star"><i class="fa fa-line-chart"></i></span>
    </a>
  </div>

  <div class="dashlist-item">
    <a class="dashlist-link dashlist-link-dash-db" href="dashboard/script/app-memory?var-device=aries&var-memory=2048&var-branch=master&var-test=cold-launch">
      <span class="dashlist-title">Memory</span>
      <span class="dashlist-star"><i class="fa fa-hdd-o"></i></span>
    </a>
  </div>
</div>